# ignore

jsconfig.json

/node_modules
/.vscode
/tmp

/server
/pic-pack
/ygo233/check.exe
/ygo233/update.exe
/ygo233/*.ico
/ygo233/update.ahk.ini

/pics
/script
/expansions
/deck
cards.cdb
lflist.conf
strings.conf
system.conf
ygopro.exe
ygopro_vs.exe

version.json

启动游戏.exe
launcher.ahk.ini

test*
*.zip

*.tmp
*.bak
*.log
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
